.navbar.dashboard-nav{
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid;
}
.navbar.dashboard-nav .navbar-brand .navbar-icon{
    width: 28px;
    border: 2px solid;
    border-radius: 2px;
}
.navbar.dashboard-nav .nav .nav-item .page-title{
    font-size: 1.30rem;
    font-weight: 600;
}
.navbar.dashboard-nav .nav .nav-item .dropdown .btn{
    padding: 0px;
    border: 0px solid;
    border-radius: 20px;
    text-align:center;
}
.navbar.dashboard-nav .nav .nav-item .dropdown .btn .profile-icon{
    width: 35px;
    height: 35px;
    border: 2px  solid;
    border-radius: 30px;
}
.navbar.dashboard-nav .nav .nav-item .dropdown .dropdown-menu li{
    padding-left: 5px;
    padding-right: 5px;
}
.navbar.dashboard-nav .nav .nav-item .dropdown .dropdown-menu .dropdown-item{
    font-weight: 600;
    border: 1.25px solid;
    border-radius: 5px;
}

.dashboard{
    width: 100%;
    min-height: 100vh;
    padding: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.dashboard .side-nav .nav{
    width:100%;
}
.dashboard .side-nav .nav{
    padding-top: 1rem;
}
.dashboard .side-nav .nav .nav-item{
    width: 100%;
    margin-bottom: 1rem;
    padding-left: 5px;
    padding-right: 5px;
}
.dashboard .side-nav .nav .nav-item .nav-link{
    font-weight: 600;
    border: 2px solid;
    border-radius: 20px;
}
.dashboard .container-fluid{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.dashboard .container-fluid .row .side-nav{
    width: 100%;
    min-height: 95vh;
    overflow-y: auto;
}
.dashboard .container-fluid .row .main{
    width: 100%;
    min-height: 92vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.dashboard .profile .row{
    display: flex;
    display: webkit-flex;
    justify-content:center;
    -webkit-justify-content: center;
}
.profile .display-picture-container{
    display: flex;
    display: webkit-flex;
    justify-content:center;
    -webkit-justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
}
.profile .display-picture{
    display: flex;
    display: webkit-flex;
    justify-content:center;
    -webkit-justify-content: center;
    min-width: 80%;
    margin-top: 1rem;
    padding: 10px;
}
.profile .display-picture .picture,
.profile .display-picture .picture .btn{
    width: 150px;
    height: 150px;
    padding: 0px;
    border-radius: 100px;
}
.profile .display-picture .picture{    
    border: 1.5px solid;
    background-image: url('http://cdn2.docs/public/static/profile.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.profile .display-picture .picture .btn{    
    padding-top: 10px;
}
.profile .display-picture .picture .btn .bi{
   font-size: 4rem;
   border-radius: 100px;
}
.profile .display-picture .picture .hidden{
    width :.5px;
    height: .5px;
    left: -100000;
}
.profile-details .row,
.profile-details .row .center{
    display: flex;
    display: webkit-flex;
    justify-content:center;
    -webkit-justify-content: center;
}
.profile-detail-header{
    width: 60%;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}
.profile-detail{
    width:60%;
    padding: 10px;
    border: 1.5px solid;
    border-radius: 2px;
}
.profile-detail .shimmer{
    display: inline-block;
    width: 80%;
    height: 1.5rem;
    padding: 5px;
    border-radius: 20px;
}
.profile-detail .data .bi{
    font-size: 1.5rem;
    font-weight: 600;
}
.profile-detail .data{    
    margin-bottom: .5rem;
}
.profile-detail .username{
    width: 100%;
}
.profile-detail .email{
    width: 95%;
}
.profile-detail .phone{
    width: 90%;
}

.change-password{
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-right: 10px;
    padding-left: 10px;
    text-align: right;
}
.change-password .btn{
    font-weight: 600;
    border: 2px solid;
}

.modal .modal-header .modal-title{
    text-align:center;
}
.modal .modal-header .btn{
    border: 1.75px solid;
    border-radius: 20px;
}
.modal .modal -header .btn span{
    font-size: 1.25px;
}
.modal .modal-body .form-group{
    margin-bottom: 1rem;
}
.modal .modal-body .form-group .form-control{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.modal .modal-body .form-group .input-group-prepend .btn{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.modal .modal-body .form-group .button-container{
    text-align: center;
}