.navbar.dashboard-nav {
    background-color:#167442;
    border-bottom-color: #fff;
}
.navbar.dashboard-nav .navbar-brand .navbar-icon{
    border-color: transparent;
}
.navbar.dashboard-nav .navbar-brand .navbar-icon:hover{
    border-color: #fff;
}
.navbar.dashboard-nav .nav .nav-item .page-title{
    color: #fff;
}
.navbar.primary-nav .nav .nav-item .dropdown .btn{
    border-color: #fff;
}
.navbar.dashboard-nav .nav .nav-item .dropdown .btn .profile-icon{
   border-color: rgb(216, 96, 36);
}
.navbar.dashboard-nav .nav .nav-item .dropdown .btn .profile-icon:hover{
    border-color: rgb(166, 84, 233);
 }
.navbar.dashboard-nav .nav .nav-item .dropdown .dropdown-menu{
    background: #167442;
}
.navbar.dashboard-nav .nav .nav-item .dropdown .dropdown-menu .dropdown-item{
    border-color: #fff;
    color: #fff;
}
.navbar.dashboard-nav .nav .nav-item .dropdown .dropdown-menu .dropdown-item:hover{
    background-color: #16aa5b;
}

.dashboard{ 
    background-color: #167442;
}

.dashboard .side-nav .nav .nav-item .nav-link{
   color: #fff;
   border-color: #fff;
}
.dashboard .side-nav .nav .nav-item .nav-link:hover{
    background: #16aa5b;
 }
.dashboard .container-fluid .row .main{
    background: #fff;
}

@keyframes shimmer{
    0% {background-position: -1000px 0}
    100% {background-position: 1000px 0}
}
.shimmer {
    animation : shimmer 2s infinite;
    background: linear-gradient(to right, #d6d6d6 4%, #d8d8d8 25%, #e1e1e1 36%);
    background-size: 1000px 100%;
}
.profile .display-picture .picture{
    border-color: #dcdcdc;
}
.profile .display-picture .picture .bi{
    opacity: 50%;
}